#section2{
    height: 200px;
    width: 100%;
    background-color: #EAE8DA;
    margin-top: -2%;
    


    
            .divsec2{
                text-align: center;
                height: 100px;
                width: 100%;
                p{
                    padding-top: 5%;
                    font-size: 110%;
                    .bleuzone{
                        color: blue;

                    }
                }
    
    }
            .divsec22{
                text-align: center;
                height: 100px;
                width: 100%;
                h2{
                    font-size: 150%;
                }

            }


}